# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
venv/
env/
ENV/
.env

# Django
*.log
local_settings.py
db.sqlite3
media/

# Node
node_modules/
dist/
.DS_Store

# Vite build outputs
frontend/dist/

# Environment files
.env
.env.local
.env.*.local

# IDEs
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
